<fieldset>
  <legend> Edit Form </legend>
  <!-- ORGANIZATION -->
  <div class="form-group">
    <label for="org">Organization</label><br>
    <input id="org" type="text" name="org" value="{{charity.org}}" />
</div>
</fieldset>
