<fieldset>
  <legend> Edit Form </legend>
  <!-- ORGANIZATION -->
  <div class="form-group">
    <label for="name">Name</label><br>
    <input id="name" type="text" name="name" value="{{charity.name}}" />
</div>
</fieldset>
