<form action="/charities/donations" method="POST">
    <input type="hidden" value="{{charity._id}}" name="charityId">
    <fieldset>
        <legend> Add Donation </legend>
        <!-- DATE -->
        <div class="form-group">
            <label for="date"> Date </label> <br>
            <input class="form-control" id="date" type="date" name="date"/>
        </div>
        <!-- AMOUNT -->
        <div class="form-group">
          <label for="amount">Amount</label><br>
          <input class="form-control" id="amount" type="number" name="amount" min="1" placeholder="Enter Donation Amount"/>
        </div>
        <!-- NOTES -->
        <div class="form-group">
          <label for="notes">Note</label><br>
          <textarea class="form-control"
          id="notes"
          name="notes"
          rows="5"
          placeholder="Notes..."/></textarea>
        </div>
    </fieldset>
    <!-- BUTTON -->
    <div class='form-group'>
        <button class="btn btn-primary" type="submit"> Add Donation </button>
    </div>
</form>
